@model Comment
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@using System.Security.Claims

@{
    // Getting the current user
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var currentUser = await _userManager.FindByIdAsync(userId);
    ViewData["Title"] = "Comment Box";
}
<!--Message Box (MEMBER ONLY)-->
<div class="card comment-container member-only">
    <div class="row">
        <!--TABS-->
        <ul class="nav nav-tabs comment-tab-list" id="commentTab" role="tablist">
            <!--WRITE-->
            <li class="nav-item" role="presentation">
                <button class="nav-link active comment-tab" id="write-tab" data-bs-toggle="tab"
                        data-bs-target="#write-tab-pane" type="button" role="tab"
                        aria-controls="write-tab-pane" aria-selected="true">
                    Write
                </button>
            </li>
            <!--PREVIEW-->
            <li class="nav-item" role="presentation">
                <button class="nav-link comment-tab" id="preview-tab" data-bs-toggle="tab"
                        data-bs-target="#preview-tab-pane" type="button" role="tab"
                        aria-controls="preview-tab-pane" aria-selected="true">
                    Preview
                </button>
            </li>
        </ul>
    </div>
    <!--TAB CONTENT-->
    <div class="tab-content" id="commentTabContent">

        <!--WRITE-->
        <div class="tab-pane fade active show comment-box" id="write-tab-pane" role="tabpanel"
             aria-labelledby="write-tab" tabindex="0">

            <form asp-controller="Comment" asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger m-2-5"></div>

                <textarea asp-for="@Model.Body" class="form-control" id="comment" cols="30" rows="7"
                          placeholder="Write a comment"></textarea>
                <span asp-validation-for="@Model.Body" class="text-danger m-2-5"></span>

                <input type="hidden" asp-for="@Model.Title" value="@Model.Title" />
                <input type="hidden" asp-for="@Model.UserId" value="@currentUser.Id" />
                <input type="hidden" asp-for="@Model.Thread" value="@Model.Thread" />
                <input type="hidden" asp-for="@Model.ThreadId" value="@Model.ThreadId" />

                <div class="tab-pane-bttm">
                    <button id="comment-submit" type="submit" class="std-purple-btn">Reply</button>
                </div>

            </form>

        </div>
        <!--PREVIEW-->
        <div class="tab-pane fade preview-box" role="tabpanel" id="preview-tab-pane"
             aria-labelledby="preview-tab" tabindex="0">

            <article class="background-white card post-container" id="comment-preview">

                <div class="row">
                    <!--Side content (Author, image, info)-->
                    <div class="aside-post hidden-mobile col-md-2">

                        <h3 class="aside-user-style">@currentUser.UserName</h3>

                        <ul>
                            <li>
                                <a href="#" class="aside-user-photo-container" title="Go to profile">
                                    @{
                                        if (currentUser.UserPhoto != null)
                                        {
                                            var base64Image = Convert.ToBase64String(currentUser.UserPhoto);
                                            var source = String.Format("data:image/png;base64,{0}", base64Image);
                                            <img src="@source" alt="Profile Picture" class="img-avatar">
                                        }
                                        else
                                        {
                                            <i class="fa-regular fa-circle-user aside-user-photo"></i>
                                        }
                                    }
                                </a>
                            </li>

                            <li class="margin-bt-20">
                                <span class="aside-member-title">@currentUser.Rank</span>
                            </li>
                            <li class="aside-left-align">
                                <span class="aside-subtitle">Posts: @(currentUser.UserComments.Count()+1)</span>

                            </li>
                            <li class="aside-left-align">
                                <span class="aside-subtitle">Joined: <time>@currentUser.CreatedAt.ToString("d MMM yyyy")</time></span>

                            </li>
                        </ul>
                    </div>
                    <!--End of side content-->
                    <!--Main Content-->
                    <div class="col-12 col-md-10 post-top">
                        <!--Top of Post (Title, date, buttons)-->
                        <div>
                            <div class="dropdown-center">
                                <!--Ellipsis-->
                                <a href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false" aria-disabled="true">
                                    <i class="fa-solid fa-ellipsis ellipsis"></i>
                                </a>

                            </div>
                            <!-- Only for mobile -->
                            <div class="only-mobile">

                                <div class="post-top-user-photo-automargin">
                                    <a href="#" class="post-top-user-photo-container"
                                       title="Go to profile">
                                        @{
                                            if (currentUser.UserPhoto != null)
                                            {
                                                var base64Image = Convert.ToBase64String(currentUser.UserPhoto);
                                                var source = String.Format("data:image/png;base64,{0}", base64Image);
                                                <img src="@source" alt="Profile Picture" class="img-avatar">
                                            }
                                            else
                                            {
                                                <i class="fa-regular fa-circle-user aside-user-photo"></i>
                                            }
                                        }
                                    </a>
                                </div>

                                <div>
                                    <h4 class="post-top-title">@currentUser.UserName</h4>

                                    @{
                                        DateTime currentDay = DateTime.Now;
                                        string formattedDate = currentDay.ToString("dd MMMM");
                                        Console.WriteLine(formattedDate);
                                    }
                                    <a href="#" class="post-top-subtitle"
                                       title="Jump to comment">
                                        Posted <time datetime="@currentDay.ToString()">@formattedDate</time>
                                    </a>
                                </div>
                            </div>

                            <!-- For regular display -->
                            <a href="#" title="Jump to comment">
                                <h4 class="post-top-title hidden-mobile">@Model.Thread.Name</h4>
                            </a>
                            <a href="#" class="post-top-subtitle hidden-mobile"
                               title="Jump to comment">
                                Posted <time datetime="@currentDay.ToString()">@formattedDate</time>
                            </a>
                        </div>
                        <!--Body of Post-->
                        <div class="post-body">
                            <p id="preview-content">
                                Nothing to preview.
                            </p>
                        </div>
                    </div>
                    <!--End of Main Content-->
                </div>
            </article>

        </div>
    </div>
</div>
<!--End of Message Box (MEMBER ONLY)-->
