@model Subforum
<!--Subforum Title-->
<div class="row">
    <div class="col" id="title">
        <h1 class="title-font">@Model.Name</h1>
    </div>
</div>

<!--Start of Main Subforums Container-->
<section class="">
    <div class="subforum-container">

        <!--Subforum Banner-->
        <div class="border-round-top sub-banner row">

            <!--PAGINATION-->
            <nav aria-label="Page navigation" class="pagination-container col-10">
                <ul class="pagination margin-bt-0">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Last" data-bs-toggle="tooltip"
                           title="Go to last page">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            @{
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="col-2">
                        <button type="button" class="btn card-body new-thread-btn guest-disabled" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-toggle="modal"
                                data-bs-target="#threadModal">
                            <i class="fa-solid fa-pen-to-square"></i>
                            New Thread
                        </button>
                    </div>
                }
                else
                {
                    <div class="col-2">
                        <a href="" class="btn card-body new-thread-btn guest-disabled disabled" role="button"
                           aria-disabled="true" data-bs-toggle="tooltip" title="Make a new thread">
                            <i class="fa-solid fa-pen-to-square"></i>
                            New Thread
                        </a>
                    </div>
                }

            }



        </div>
        <!--End of Subforum Banner-->
        <!--Subforum Content-->
        <div>
            <!--THIS PART WILL BE IMPLEMENTED BY THE FRAMEWORK USING THE DATABASE INSTEAD OF MANUALLY-->
            <ul>
                <!--LEGEND-->
                <li>
                    <div class="row" id="subforum-header">
                        <div class="col-1 subforum-title-container hidden-mobile">
                            <p>
                                Status
                            </p>
                        </div>
                        <div class="col-9 col-md-7 subforum-title-container">
                            <p class="align-left">
                                Title
                            </p>
                        </div>
                        <div class="col-1 subforum-title-container hidden-mobile">
                            <p>
                                Replies
                            </p>
                        </div>
                        <div class="col-3 subforum-title-container">
                            <p>
                                Last Post
                            </p>
                        </div>
                    </div>
                </li>

                @{
                    var count = 0;
                    foreach (var thread in Model.Threads)
                    {
                        @await Html.PartialAsync("_ThreadList", thread);

                        count++;
                    }
                }

            </ul>
        </div>
        <!--End of Subforum Content-->
    </div>
</section>
<!--End of Subforums Container-->
<!--Go back to thread list-->
<div class="pager-container topic-listing-link">
    <a asp-action="container" asp-controller="forum" class="">
        <i class="fa-solid fa-chevron-left"></i> Go back to forum listing
    </a>
</div>

<!--Back to top button-->
<a href="" id="back-to-top-button" data-bs-toggle="tooltip" title="Back to top"></a>

@{
    var newThread = new Thread { Name = "", UserId = 5, IsAnnouncement = false, IsFeatured = false, IsLocked = false, IsPinned = false };
    var newComment = new Comment { Title = "", UserId = 5, Body = "", ThreadId = newThread.ThreadId };
}

<!-- New Thread Modal -->
<div class="modal fade" id="threadModal" tabindex="-1" aria-labelledby="threadModalLabel" aria-hidden="true" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 modal-font" id="threadModalLabel">Create a new thread</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger m-2-5"></div>

                <h5 class="modal-subtitle m-2-5">Thread title:</h5>
                <div class="form-floating mb-2">
                    <input asp-for="@newThread.Name" class="form-control thread-form-control" aria-required="true" />
                    <span asp-validation-for="@newThread.Name" class="text-danger m-2-5"></span>
                </div>

                <h5 class="modal-subtitle m-2-5">Thread body:</h5>
                <div class="form-floating mb-2">
                    <textarea asp-for="@newComment.Body" class="form-control thread-form-control" rows="15"></textarea>
                    <span asp-validation-for="@newComment.Body" class="text-danger m-2-5"></span>
                </div>

                <div class="d-flex">
                    <button id="thread-submit" type="submit" class="mb-3 login-purple-btn m-2-5">Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
