@model Subforum
@using Microsoft.AspNetCore.Mvc;

<!--The following block of code finds which thread in the subforum has the latest comment, in order to use that thread's title-->
@{
    var trueLastComment = new Comment
    {
        ThreadId = 1,
        UserId = 1,
        CreatedAt = new DateTime()
    };

    foreach (var thread in Model.Threads)
    {
        var lastComment = thread.Comments.LastOrDefault();

        // Added a null check for lastComment
        if (lastComment != null)
        {
            var value = DateTime.Compare(lastComment.CreatedAt, trueLastComment.CreatedAt);
            if (value > 0)
            {
                trueLastComment = lastComment;
            }
        }
    }
}

<!--Subforum List-->
<li>
    <div class="background-@Model.BackgroundColor row std-height
         @(@Model.ParentForum.Subforums.LastOrDefault().SubforumId == @Model.SubforumId ? "border-round-bottom" : "")">
        <!--Bubble icon-->
        <div class="col-1 icon-container hidden-mobile">
            <a asp-action="container" asp-controller="subforum" asp-route-id="@Model.SubforumId" title="Go to Subforum">
                <i class="fa-regular fa-message fa-2xl" style="color: #2d293c;"></i>
            </a>
        </div>

        <!--Forum title + description -->
        <div class="col-9 col-md-4 forum-title-container-sm">
            <a asp-action="container" asp-controller="subforum" asp-route-id="@Model.SubforumId"
               class="forum-title-font std-link" title="Go to @Model.Name">@Model.Name</a>

            <p class="margin-bt-12">
                @Model.Description
            </p>
        </div>

        <div class="col-2 icon-container">
            <ul>
                <!--Last poster user picture-->
                <li class="centered">
                    <!--This would lead you to a user's profile-->
                    <a href="#" title="Go to User Profile">
                        @{
                            if (trueLastComment.User.UserPhoto != null)
                            {

                            }
                            else
                            {
                                <div class="usericon-container">
                                    <i class="fa-regular fa-circle-user fa-2xl" style="color: #2d293c;"></i>
                                </div>
                            }
                        }
                    </a>
                </li>
                <!-- Only for mobile viewing : date of last post -->
                <li class="only-mobile">
                    <p class="date-font">
                        @{
                            TimeSpan ts = DateTime.Now.Subtract(trueLastComment.CreatedAt);
                            var output = "";
                            if (ts.TotalMinutes < 2)
                                output = "1 minute ago";
                            else if (ts.TotalHours < 1)
                                output = $"{(int)ts.TotalMinutes} minutes ago";
                            else if (ts.TotalDays < 1)
                                if (ts.TotalHours >= 2)
                                    output = $"{(int)ts.TotalHours} hours ago";
                                else output = "1 hour ago";
                            else if (ts.TotalDays < 2)
                                output = "yesterday";
                            else if (ts.TotalDays < 5)
                                output = $"on {trueLastComment.CreatedAt.DayOfWeek}";
                            else
                                output = $"on {trueLastComment.CreatedAt.ToString("M")}";

                            @output
                        }
                    </p>
                </li>
            </ul>
        </div>

        <div class="col-md-5 forum-title-container-sm hidden-mobile">
            <!--Last post thread title-->
            <a href="@Url.Action("Container", "Thread", new { id = trueLastComment.ThreadId, trueLastComment.CommentId })"
               class="thread-title-font-lg" title="Go to Thread">
                @{
                    // Find the thread with the matching ID
                    var matchingThread = Model.Threads.FirstOrDefault(thread => thread.ThreadId == trueLastComment.ThreadId);
                    if (matchingThread != null)
                    {
                        @matchingThread.Name
                    }
                }
            </a>

            <!--Last post username and date-->
            <p class="std-subtitle-font">
                By
                @{
                    var user = trueLastComment.User;
                    if (user != null)
                    {
                        if (user.Rank == "Admin")
                        {
                            <a href="#" class="adminTitle" title="Go to User Profile">
                                @user.UserName
                            </a>
                        }
                        else if (user.Rank == "Mod")
                        {
                            <a href="#" class="modTitle" title="Go to User Profile">
                                @user.UserName
                            </a>
                        }
                        else
                        {
                            <a href="#" class="memberTitle" title="Go to User Profile">
                                @user.UserName
                            </a>
                        }
                    }
                    <!--The following block of code determines the best way to display the date since the last comment-->
                    TimeSpan ts2 = DateTime.Now.Subtract(trueLastComment.CreatedAt);
                    var output2 = "";

                    if (ts2.TotalHours < 1)
                        if (ts2.TotalMinutes < 2)
                            output2 = "1 minute ago";
                        else output2 = $"{(int)ts2.TotalMinutes} minutes ago";
                    else if (ts2.TotalDays < 1)
                        if (ts2.TotalHours >= 2)
                            output2 = $"{(int)ts2.TotalHours} hours ago";
                        else output2 = "1 hour ago";
                    else if (ts2.TotalDays < 2)
                        output2 = "yesterday";
                    else if (ts2.TotalDays < 5)
                        output2 = $"on {trueLastComment.CreatedAt.DayOfWeek}";
                    else
                        output2 = $"on {trueLastComment.CreatedAt.ToString("M")}";

                    @output2
                }
            </p>
        </div>
    </div>
</li>
<!--End of Forums Container-->
