@using Microsoft.AspNetCore.Identity
@using System.Security.Claims;
@model Thread
    <!--Subforum Title-->
<div class="row">
    <div class="col" id="title">
        <h1 class="title-font">@Model.ParentSubforum.Name</h1>
    </div>
</div>

<!--Go back to thread list-->
<div class="pager-container topic-listing-link mt-4">
    <a asp-action="container" asp-controller="subforum" asp-route-id="@Model.ParentSubforum.SubforumId">
        <i class="fa-solid fa-chevron-left"></i> Go back to topic listing
    </a>
</div>

<!--Start of Thread Container-->
<section class="">
    <div class="thread-container background-dark card row">

        <!--Thread title-->
        <div class="d-inline-flex">
            <h2 class="thread-page-title">@Model.Name</h2>

            @{
                // CHANGEME
                if (@Model.UserId == 5)
                {
                    <button type="button" class="btn card-body std-purple-btn" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-toggle="modal"
                            data-bs-target="#editThread" id="editThreadBtn">
                        <i class="fa-solid fa-file-pen"></i>
                        Edit Topic
                    </button>
                }
                // CHANGEME
                if (@Model.UserId == 5)
                {
                    <button type="button" class="btn card-body std-pink-btn" data-bs-keyboard="false" data-bs-backdrop="static" data-bs-toggle="modal"
                            data-bs-target="#deleteThread" id="deleteThreadBtn">
                        <i class="fa-solid fa-trash"></i>
                        Delete
                    </button>
                }
            }
        </div>

        @{
            foreach (var comment in Model.Comments)
            {
                @await Html.PartialAsync("_CommentList", comment);
            }
        }
        @{
            System.Diagnostics.Debug.Assert(User.Identity != null, "User.Identity != null");
            if (User.Identity.IsAuthenticated)
            {

                var newComment = new Comment();
                newComment.Thread = Model;
                newComment.ThreadId = Model.ThreadId;
                newComment.UserId = 5;
                newComment.Title = Model.Name;

                @await Html.PartialAsync("_CommentBox", newComment);

            }
            else
            {
                <!--guest teaser (guest only)-->
                <section class="background-light card comment-container guest-only">

                    @await Html.PartialAsync("_GuestTeaser");

                </section>
                <!--end of guest teaser (guest only)-->
            }
        }

    </div>
</section>
<!--End of Thread Container-->
<!--Go back to thread list-->
<div class="pager-container topic-listing-link">
    <a asp-action="container" asp-controller="subforum" asp-route-id="@Model.ParentSubforum.SubforumId">
        <i class="fa-solid fa-chevron-left"></i> Go back to topic listing
    </a>
</div>

<!-- Edit Thread Modal -->
<div class="modal fade" id="editThread" tabindex="-1" aria-labelledby="editThreadLabel" aria-hidden="true" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 modal-font" id="editThreadLabel">Edit topic</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @{
                var editThread = Model;
            }
            @await Html.PartialAsync("_EditThreadModal", @editThread);

        </div>
    </div>
</div>

<!-- Deleting thread Modal -->
<div class="modal fade" id="deleteThread" tabindex="-1" aria-labelledby="deleteThreadLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header fd-column">
                <div>
                    <span class="circle-icon">
                        <i class="fa-solid fa-triangle-exclamation fa-2xl"></i>
                    </span>

                </div>
                <div>
                    <h1 class="modal-title fs-5 modal-font" id="deleteModalLabel">Are you sure?</h1>

                </div>
            </div>
            <div class="modal-body text-center">
                <h2 class="modal-subtitle mt-2">This action cannot be undone.</h2>
                <h3 class="modal-subtitle mb-5">The content of your topic: <i>"@Model.Name"</i> will be lost forever.</h3>


                <div>
                    <form asp-controller="Thread" asp-action="DeleteConfirmed" asp-route-id="@Model.ThreadId" method="post">
                        <button type="submit" class="mb-3 std-pink-btn w-75">Delete</button>
                    </form>
                </div>
                <div>
                    <button type="button" class="mb-4 std-purple-btn w-75" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Back to top button-->
<a href="" id="back-to-top-button" data-bs-toggle="tooltip" title="Back to top"></a>
