@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<style>
    .nav-item:hover{
    background-color:#fff3f3; 
    }
    .nav-item:active{
    background-color: #2d293c;
    }
    .nav-link.active{
    background-color: #2d293c !important;
    color:#fff3f3 !important;
    .fas,.far{
    color: #fff3f3;
    }
    }
</style>


<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext) text-dark" id="profile" asp-page="./Index"><i class="far fa-user"></i> Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext) text-dark" id="email" asp-page="./Email"><i class="fas fa-at"></i> Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext) text-dark" id="change-password" asp-page="./ChangePassword"><i class="fas fa-key"></i> Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins"><i class="fas fa-right-to-bracket"></i> External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext) text-dark" id="two-factor" asp-page="./TwoFactorAuthentication"><i class="fas fa-user-lock"></i> Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext) text-dark" id="personal-data" asp-page="./PersonalData"><i class="fas fa-database"></i> Personal data</a></li>
</ul>
